@use 'scss/use';

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  color: var(--color-site);
  background-color: var(--color-site-bg);

  app-site-header {
    // note: positioning only here, all appearance contained in the component
  }

  main {
    flex: 1;
    width: 100%;
    margin: 0 auto;
  }
  app-site-footer {
    // note: positioning only here, all appearance contained in the component
  }
}
