.site-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--site-background);

  app-site-header {
    flex: 0;

    background-color: var(--color-primary);
    color: var(--text-light);
  }

  main {
    flex: 1;
  }
  app-site-footer {
    background-color: var(--color-primary);
    color: var(--text-light);
  }
}
