.site-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--site-background);

  app-site-header {
    // note: positioning only here, all appearance contained in the component
  }

  main {
    flex: 1;
  }
  app-site-footer {
    // note: positioning only here, all appearance contained in the component
  }
}
