@use 'mixins';

button {
  padding: 0.5rem 0.85rem;
  font-size: 1.1rem;
  border: 0.125rem solid var(--color-primary-bg);
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  @extend %border-radius-medium;

  &:hover {
    background-color: var(--color-primary-bg-hover);
    cursor: pointer;
  }

  &.secondary {
    color: var(--color-secondary);
    background-color: var(--color-secondary-bg);
    border: 0.125rem solid;
  }
}

a {
  color: var(--color-link);
  &:visited {
    color: var(--color-link-visited);
  }
}

input[type='text'],
select {
  width: 100%;
}
input[type='checkbox'],
input[type='radio']
{
  + label {
    display: inline-block;
    margin: 0 0 0.25rem 0.25rem;
  }
}

