@use 'mixins';

button {
  padding: clamp(0.5rem, 0.5vw, 1.5rem) clamp(0.5rem, 0.5vw, 1.5rem);
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  border: none;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  @extend %border-radius-large;

  &:hover {
    background-color: var(--color-primary-bg-hover);
    cursor: pointer;
  }
}

a {
  color: var(--color-link);
  &:visited {
    color: var(--color-link-visited)
  }
}
