@use 'colors';

%border-radius-small {
  border-radius: 0.25rem;
}
%border-radius-medium {
  border-radius: 0.5rem;
}
%border-radius-large {
  border-radius: 1rem;
}

$breakpoints: (
  'min': 320,
  'xs': 440,
  'sm': 600,
  'md': 840,
  'lg': 1024,
  'xl': 1280,
  'ws': 1440,
  'hd': 1920
);

@mixin media-breakpoint-gte($bp) {
  // TODO how to fix the intellisense error for the '+' here?
  @media (min-width: map-get($breakpoints, $bp) + 'px') {
    @content;
  }
}

// $clamp-xs: clamp(0.25rem, 0.5vw, 0.75rem);
// $clamp-sm: clamp(0.5rem, 1vw, 1.5rem);
// $clamp-md: clamp(0.75rem, 1.5vw, 2rem);
// $clamp-lg: clamp(1rem, 2vw, 3rem);
// $clamp-xl: clamp(1.5rem, 3vw, 4rem);

@mixin collapse-first-and-last-padding() {
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@mixin page() {
  padding: 0 2vw;
  @include collapse-first-and-last-padding();
}

@mixin content-box() {
  margin: 0 0 1rem 0;
  padding: 1rem 1.35rem 1.75rem;
  @extend %border-radius-medium;
  @include collapse-first-and-last-padding();
}

@mixin content-lvl1 {
  @include content-box();
  //@include box-shadow-lvl1();
  color: var(--color-content1);
  background-color: var(--color-content1-bg);
  border: 1px solid var(--color-content1-border);
}

@mixin content-lvl2() {
  @include content-box();
  //@include box-shadow-lvl2();
  color: var(--color-content2);
  background-color: var(--color-content2-bg);
  border: 1px solid var(--color-content2-border);
}

@mixin box-shadow-lvl1 {
  box-shadow: 0px 5px 5px -5px var(--kite-black);
}
@mixin box-shadow-lvl2 {
  box-shadow: 0px 8px 8px -8px var(--kite-black);
}
@mixin box-shadow-lvl3 {
  box-shadow: 0px 11px 11px -11px var(--kite-black);
}

@mixin flex-row-center() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
