@use "app/scss/use";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.global {
  &-nowrap {
    white-space: nowrap;
  }

  &-content1 {
    @include use.content-lvl1;
  }
  &-content2 {
    @include use.content-lvl2;
  }
}
