@use "../../../scss/use";

.page-container {
  @include use.page();

  display: flex;
  flex-direction: column;
  gap: 5vw;

  .section {
    padding-bottom: 2rem;
    //border-bottom: 1px solid var(--color-content2-bg);

    &:last-of-type {
      border-bottom: none;
    }
  }

  .section1 {
    flex-basis: 100%;
  }

  .section2 {
    .controls {
      flex-basis: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
      }
    }

    button {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .section3 {
    flex: 1 0 100%;
  }

  @include use.media-breakpoint-gte('sm') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;

    .section1 {
      flex-basis: 46.5vw;
    }
    .section2 {
      flex-basis: 46.5vw;
    }
  }

  @include use.media-breakpoint-gte('md') {
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    .section {
      border-bottom: none;
    }
    .section1 {
      flex-basis: 29vw;
    }
    .section2 {
      flex-basis: 32vw;
    }
    .section3 {
      flex: 0 1 29vw;
    }
  }
}
