<div class="page-container">
  <div class="section section1">
    <h1>Typography</h1>
    <div class="global-content1">
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <p>Paragraph</p>
      <ul>
        <li>Unordered</li>
        <li>List</li>
      </ul>
      <ol>
        <li>Ordered</li>
        <li>List</li>
      </ol>
    </div>
  </div>
  <div class="section section2">
    <h1>Controls</h1>
    <div class="controls global-content2">
      <a href="#">Anchor</a>
      <div class="buttons">
        <button>Primary</button>
        <button class="secondary">Secondary</button>
      </div>

      <input type="text" />
      <div>
        <div>
          <input type="radio" name="radio_ex" id="radio_ex1" value="1" />
          <label for="radio_ex1">Radio 1</label>
        </div>
        <div>
          <input type="radio" name="radio_ex" id="radio_ex2" value="2" />
          <label for="radio_ex2">Radio 2</label>
        </div>
        <div>
          <input type="radio" name="radio_ex" id="radio_ex3" value="3" />
          <label for="radio_ex3">Radio 3</label>
        </div>
      </div>
      <div>
        <div>
          <input type="checkbox" id="check_ex1" value="1" />
          <label for="check_ex1">Check 1</label>
        </div>
        <div>
          <input type="checkbox" id="check_ex2" value="1" />
          <label for="check_ex2">Check 2</label>
        </div>
        <div>
          <input type="checkbox" id="check_ex3" value="1" />
          <label for="check_ex3">Check 3</label>
        </div>
      </div>
      <select>
        <option>Option 1</option>
        <option>Option 2</option>
      </select>
    </div>
  </div>
  <div class="section section3">
    <h1>Content</h1>
    <div class="global-content1">
      <h2>Content <span class="global-nowrap">Level 1</span></h2>
      <p class="tagline">Tagline</p>
      <p>Paragraph</p>
    </div>
    <div class="global-content2">
      <h2>Content <span class="global-nowrap">Level 2</span></h2>
      <p class="tagline">Tagline</p>
      <p>Paragraph</p>
    </div>
  </div>
</div>
